.information {
  display: flex;
  max-width: 1310px;
  margin: auto;
  margin-top: 80px;
  gap: 30px;
  align-items: center;
  margin-bottom: 80px;
}

.information__image {
  width: 500px;
}

.information__description {
  font-size: 18px;
  line-height: 27px;
}