.table-race {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.table-race__data {
  background-color: rgba(255, 142, 62, 0.449);
  padding: 10px;
  text-align: center;
}

.table-race__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table-race__head {
  background-color: #FFF;
  color: #f8711d;
  padding: 10px;
}

@media (width <= 480px) {
  .wrapper {
    overflow-x: scroll;
    margin: 20px;
  }
}